# Binaries
*.exe
*.dll
*.so
*.dylib
order-service/order-service
payment-service/payment-service

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Generated proto files (можно не пушить)
proto/gen/
*.pb.go

# Go build artifacts
bin/
dist/

# Dependencies
vendor/

# Test coverage
*.out
*.cover
